<h1 class="text-center">Create a new category </h1>
<%= render 'form' %> 
<div class="mb-3">
    <%= link_to '[ Cancel and return to Categories ]', categories_path, class: "row justify-content-center text-info" %>
</div>

