<div class="container">
    <% flash.each do |name,mssg| %>    
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= mssg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <%end%> 
</div>